<div class="social-section">
  <h2>Suivez-nous sur nos réseaux sociaux</h2>
  <div class="social-icons">
    <a href="https://www.facebook.com/people/V%C3%A9rit%C3%A9-de-la-foi-chr%C3%A9tienne/61553792733709/" target="_blank" aria-label="Facebook">
      <img src="assets/facebook.png" alt="Facebook">
    </a>
    <a href="https://www.youtube.com/channel/UCOsX5AXGh4B0-_Wi6i7pkyg" target="_blank" aria-label="YouTube">
      <img src="assets/ytb.png" alt="YouTube">
    </a>
    <a href="https://x.com/VeriteDLFC" target="_blank" aria-label="X (Twitter)">
      <img src="assets/x.png" alt="X">
    </a>
    <a href="https://www.instagram.com/veritedelfc?igsh=MXN3Z3YzNThzc2RkOQ==" target="_blank" aria-label="Instagram">
      <img src="assets/insta.png" alt="Instagram">
    </a>
    <a href="https://www.tiktok.com/@veritedelfc?_t=ZN-8w19AzZPk6Y&_r=1" target="_blank" aria-label="TikTok">
      <img src="assets/tiktok.png" alt="TikTok">
    </a>
  </div>
</div>

<footer class="footer-container">
  <div class="footer-content">
    <div class="logo-section">
      <img src="/assets/logo.png" alt="Vérité de la foi chrétienne" class="logo" />
    </div>

    <div class="links-section">
      <ul>
        <li><a routerLink="/">Accueil</a></li>
        <li><a routerLink="questions">Nos Articles</a></li>
         <li>
  <a
    href="https://editions.mariedenazareth.com/" 
    target="_blank" 
    rel="noopener noreferrer"
    class="menu__link"
  >
   Ressources
  </a>
</li>
       <li>
  <a
    href="https://1000raisonsdecroire.com/" 
    target="_blank" 
    rel="noopener noreferrer"
    class="menu__link"
  >
    1000RC
  </a>
</li>
         <li>
  <a
    href="https://www.veritedelafoichretienne.fr/blog-matthieu-lavagna/un-argument-contre-leuthanasie/" 
    target="_blank" 
    rel="noopener noreferrer"
    class="menu__link"
  >
    Blog
  </a>
</li>
      </ul>
    </div>

    <div class="initiative-section">
      <img src="assets/marie.png" alt="Marie de Nazareth" class="initiative-logo" />
    </div>
  </div>

  <hr />
  <p class="copyright">Copyright © 2025 Vérité de la foi chrétienne</p>
</footer>


