<header>
  <div class="header">
    <header class="custom-header">
      <div class="header-content">
        <p class="header-text">
          Recevoir chaque mardi une vérité de la foi chrétienne
        </p>
        <a
  href="https://forms.mariedenazareth.com/verite-de-la-foi-chretienne?origin=FR-SITVFC-ABOVFC"
  target="_blank"
  rel="noopener"
  class="header-button"
>
  Je m'abonne !
</a>

      </div>
    </header>
    <div class="custom-header"
    style="background-image: url('/assets/fondetoile.jpg'); background-size: cover; background-position: center;"
>
    <main class="hero">
      <div class="hero__inner">
        <div class="hero__logo">
          <img src="assets/logo.png" alt="Logo VFC" />
        </div>
        
        <div class="hero__content">
          <h1 class="hero__title">
            DÉCOUVREZ LA VÉRITÉ<br/>DE LA FOI CHRÉTIENNE
          </h1>
          <p class="hero__subtitle">
            Recherchez des réponses sur les croyances et pratiques de la foi chrétienne dans la plus grande base de données francophone.
          </p>
        <form class="hero__search" (submit)="onSearch()">
  <input
    type="text"
    name="search"
    [(ngModel)]="searchQuery"
    placeholder="Votre question …"
  />
  <button type="submit">Rechercher</button>
</form>

        </div>
      </div>
    </main>
    <nav class="menu">
      <div class="menu__inner">
        <ul class="menu__links">
          <li><a routerLink="/">Accueil</a></li>
          <li><a routerLink="/connexion" routerLinkActive="active">Mon compte</a></li>
          <li><a routerLink="/questions">Nos Articles</a></li>
          <li><a
            href="https://editions.mariedenazareth.com/"
            target="_blank"
            rel="noopener"
          >
            Nos ressources
          </a></li>
          <a routerLink="/ia" class="nav-link">Apolos</a>
         <li><a routerLink="/ambassadeurs">Ambassadeurs</a></li>
         <li><a routerLink="/qui">Qui sommes-nous ?</a></li>
        </ul>
        <a
  href="https://donateurs.mariedenazareth.com/amdn/default/~mon-don?_cv=1"
  target="_blank"
  rel="noopener noreferrer"
  class="menu__don-btn"
>
  FAIRE UN DON 🤍
</a>
      </div>
    </nav>
    