<div class="form-wrapper">
  <h2>VOUS AVEZ UNE QUESTION ?</h2>
  <h2>NOUS AVONS 1000 RÉPONSES !</h2>

  <form (ngSubmit)="onSubmit()" #form="ngForm">
    <input type="text" name="nom" placeholder="Votre nom" ngModel required />
    <input type="email" name="email" placeholder="Votre adresse mail" ngModel required />
    <textarea name="message" rows="5" placeholder="Votre message ici" ngModel required></textarea>

    <label class="checkbox">
      <input type="checkbox" name="cgu" ngModel required />
      J'accepte les termes et conditions
    </label>

    <button type="submit" class="envoyer">Envoyer !</button>
  </form>
</div>

