<app-header></app-header>

  <section class="ambassador">
    <div class="ambassador__inner">
      <!-- Bloc visuel à gauche -->
      <div class="ambassador__visual">
        <img
          src="assets/rc.png"
          alt="1000 Raisons de Croire"
          class="ambassador__img"
        />
      </div>
      <div class="ambassador__content">
        <h2 class="ambassador__title">
          REJOIGNEZ L’ÉQUIPE DES 1000RC,<br/>
          DEVENEZ AMBASSADEURS
        </h2>
        <p class="ambassador__desc">
          Nous avons 1000 Raisons de Croire,<br/> Nous avons besoin de 1000 voix pour le dire
        </p>
        <a
        href="https://chat.whatsapp.com/CsBk7C0ghLT9YEAfS2uU5U"
        target="_blank"
        rel="noopener noreferrer"
        class="ambassador__btn"
      >
        Rejoignez-nous
      </a>
      </div>
    </div>
  </section>

<app-footer></app-footer>


