<section class="banner-magazine">
  <div class="banner-content">
    <div class="text-block">
      <h1>DÉCOUVREZ DES<br>VÉRITÉS DE LA FOI<br>CHRÉTIENNE</h1>
      <p>
        REJOIGNEZ-NOUS ET EXPLOREZ LES 1000 RAISONS DE CROIRE EN VOUS ABONNANT DÈS MAINTENANT À NOTRE MAGAZINE !
      </p>
      <a href="https://amdn.my.salesforce-sites.com/1000raisonsdecroire/MRC_Abonnement?origin=FR-POPMRC-ABOMAGMRC" class="subscribe-btn">S'abonner</a>
    </div>
    <div class="image-block">
      <img src="assets/magazine.png" alt="Couverture du magazine">
    </div>
  </div>
</section>


